header{
    background-image: url(../img/bg-todo.jpg);
    background-size: cover;
    background-position: center;
}

.box-header{
    height: 350px;
}

.my-list-container{
    width: 60vw;
    margin-top: -50px;
}